<div class="listWrapper">
  <div class="listContainer">
    <h3 class="listHeading">Telescope</h3>
    <ul class="list">
      <li class="listItem">
        <div class="listCell">
          <img
            class="listProfilePic"
            src="https://randomuser.me/api/portraits/women/0.jpg"
          />
        </div>
        <div class="listCell">
          <h5 class="listTime">05 Jan 2021</h5>
        </div>
        <div class="listCell">
          <h5 class="listTime">02:52PM</h5>
        </div>
        <div class="listCell">
          <h6 class="listPrice" style="color: orange">$282.00</h6>
        </div>
      </li>
      <li class="listItem">
        <div class="listCell">
          <img
            class="listProfilePic"
            src="https://randomuser.me/api/portraits/women/1.jpg"
          />
        </div>
        <div class="listCell">
          <h5 class="listTime">28 Apr 2021</h5>
        </div>
        <div class="listCell">
          <h5 class="listTime">04:15AM</h5>
        </div>
        <div class="listCell">
          <h6 class="listPrice" style="color: orange">$255.00</h6>
        </div>
      </li>
      <li class="listItem">
        <div class="listCell">
          <img
            class="listProfilePic"
            src="https://randomuser.me/api/portraits/women/2.jpg"
          />
        </div>
        <div class="listCell">
          <h5 class="listTime">22 Sep 2020</h5>
        </div>
        <div class="listCell">
          <h5 class="listTime">01:36AM</h5>
        </div>
        <div class="listCell">
          <h6 class="listPrice" style="color: orange">$239.00</h6>
        </div>
      </li>
    </ul>
  </div>
  <div class="listContainer">
    <h3 class="listHeading">Asteroids</h3>
    <ul class="list">
      <li class="listItem">
        <div class="listCell">
          <img
            class="listProfilePic"
            src="https://randomuser.me/api/portraits/women/0.jpg"
          />
        </div>
        <div class="listCell">
          <h5 class="listTime">01 Jun 2021</h5>
        </div>
        <div class="listCell">
          <h5 class="listTime">02:52PM</h5>
        </div>
        <div class="listCell">
          <h6 class="listPrice" style="color: orange">$251.00</h6>
        </div>
      </li>
      <li class="listItem">
        <div class="listCell">
          <img
            class="listProfilePic"
            src="https://randomuser.me/api/portraits/women/1.jpg"
          />
        </div>
        <div class="listCell">
          <h5 class="listTime">22 Sep 2020</h5>
        </div>
        <div class="listCell">
          <h5 class="listTime">06:58PM</h5>
        </div>
        <div class="listCell">
          <h6 class="listPrice" style="color: orange">$211.00</h6>
        </div>
      </li>
      <li class="listItem">
        <div class="listCell">
          <img
            class="listProfilePic"
            src="https://randomuser.me/api/portraits/women/2.jpg"
          />
        </div>
        <div class="listCell">
          <h5 class="listTime">11 Feb 2021</h5>
        </div>
        <div class="listCell">
          <h5 class="listTime">01:36AM</h5>
        </div>
        <div class="listCell">
          <h6 class="listPrice" style="color: blue">$163.00</h6>
        </div>
      </li>
    </ul>
  </div>
</div>
