
<div class="root">
<nav class="nav">
  <div class="navTop">
    <div class="circle"></div>
  </div>
  <ul class="links">
    <li class="navLink">
      <div class="circle"></div>
    </li>
    <li class="navLink">
      <div class="circle"></div>
    </li>
    <li class="navLink">
      <div class="circle"></div>
    </li>
    <li class="navLink">
      <div class="circle"></div>
    </li>
    <li class="navLink">
      <div class="circle"></div>
    </li>
    <li class="navLink">
      <div class="circle"></div>
    </li>
  </ul>
</nav>
<main class="main">
  <header class="header">
    <div class="searchBar">
      <svg class="searchIcon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 8C2 4.691 4.691 2 8 2C11.309 2 14 4.691 14 8C14 11.309 11.309 14 8 14C4.691 14 2 11.309 2 8ZM17.707 16.293L14.312 12.897C15.365 11.543 16 9.846 16 8C16 3.589 12.411 0 8 0C3.589 0 0 3.589 0 8C0 12.411 3.589 16 8 16C9.846 16 11.543 15.365 12.897 14.312L16.293 17.707C16.488 17.902 16.744 18 17 18C17.256 18 17.512 17.902 17.707 17.707C18.098 17.316 18.098 16.684 17.707 16.293Z" fill="black"></path>
      </svg>
      <h5 class="searchTitle">Search</h5>
    </div>
    <ul class="profileSwitcher">
      <li class="profileWrapper activeProfile">
        <div class="profile"><img src="https://randomuser.me/api/portraits/men/0.jpg"/></div>
      </li>
      <li class="profileWrapper">
        <div class="profile"><img src="https://randomuser.me/api/portraits/men/1.jpg"/></div>
      </li>
      <li class="profileWrapper">
        <div class="profile"><img src="https://randomuser.me/api/portraits/men/2.jpg"/></div>
      </li>
      <li class="profileWrapper">
        <div class="profile"><img src="https://randomuser.me/api/portraits/men/3.jpg"/></div>
      </li>
    </ul>
  </header>
  <div class="listWrapper">
    <div class="listContainer">
      <h3 class="listHeading">Telescope</h3>
      <ul class="list">
        <li class="listItem">
          <div class="listCell"><img class="listProfilePic" src="https://randomuser.me/api/portraits/women/0.jpg"/></div>
          <div class="listCell">
            <h5 class="listTime">05 Jan 2021</h5>
          </div>
          <div class="listCell">
            <h5 class="listTime">02:52PM</h5>
          </div>
          <div class="listCell">
            <h6 class="listPrice" style="color: orange">$282.00</h6>
          </div>
        </li>
        <li class="listItem">
          <div class="listCell"><img class="listProfilePic" src="https://randomuser.me/api/portraits/women/1.jpg"/></div>
          <div class="listCell">
            <h5 class="listTime">28 Apr 2021</h5>
          </div>
          <div class="listCell">
            <h5 class="listTime">04:15AM</h5>
          </div>
          <div class="listCell">
            <h6 class="listPrice" style="color: orange">$255.00</h6>
          </div>
        </li>
        <li class="listItem">
          <div class="listCell"><img class="listProfilePic" src="https://randomuser.me/api/portraits/women/2.jpg"/></div>
          <div class="listCell">
            <h5 class="listTime">22 Sep 2020</h5>
          </div>
          <div class="listCell">
            <h5 class="listTime">01:36AM</h5>
          </div>
          <div class="listCell">
            <h6 class="listPrice" style="color: orange">$239.00</h6>
          </div>
        </li>
      </ul>
    </div>
    <div class="listContainer">
      <h3 class="listHeading">Asteroids</h3>
      <ul class="list">
        <li class="listItem">
          <div class="listCell"><img class="listProfilePic" src="https://randomuser.me/api/portraits/women/0.jpg"/></div>
          <div class="listCell">
            <h5 class="listTime">01 Jun 2021</h5>
          </div>
          <div class="listCell">
            <h5 class="listTime">02:52PM</h5>
          </div>
          <div class="listCell">
            <h6 class="listPrice" style="color: orange">$251.00</h6>
          </div>
        </li>
        <li class="listItem">
          <div class="listCell"><img class="listProfilePic" src="https://randomuser.me/api/portraits/women/1.jpg"/></div>
          <div class="listCell">
            <h5 class="listTime">22 Sep 2020</h5>
          </div>
          <div class="listCell">
            <h5 class="listTime">06:58PM</h5>
          </div>
          <div class="listCell">
            <h6 class="listPrice" style="color: orange">$211.00</h6>
          </div>
        </li>
        <li class="listItem">
          <div class="listCell"><img class="listProfilePic" src="https://randomuser.me/api/portraits/women/2.jpg"/></div>
          <div class="listCell">
            <h5 class="listTime">11 Feb 2021</h5>
          </div>
          <div class="listCell">
            <h5 class="listTime">01:36AM</h5>
          </div>
          <div class="listCell">
            <h6 class="listPrice" style="color: blue">$163.00</h6>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="columnsWrapper">
    <div class="column">
      <div class="feedItem">   
        <div class="feedWrapper">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 42;
                    ">
            <li class="feedTag" style="background: #E2FBD7">Lost</li>
            <li class="feedTag" style="background: #FFF5CC">Alexandria</li>
          </ul>
          <h2 class="feedTitle">Brisbane</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
          <button class="feedButton">Detalies</button>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/301"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 132.94645348927318;
                    ">
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #FFF5CC">Columbus</li>
            <li class="feedTag" style="background: #FFF5CC">Alexandria</li>
            <li class="feedTag" style="background: #CCF8FE">Dogs</li>
          </ul>
          <h2 class="feedTitle">Bengaluru</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/302"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 123.95693653608487;
                    ">
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #CCF8FE">Harare</li>
            <li class="feedTag" style="background: #FFF5CC">Alexandria</li>
            <li class="feedTag" style="background: #DAD7FE">Behance</li>
          </ul>
          <h2 class="feedTitle">Bengaluru</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
        </div>
      </div>
      <div class="feedItem">   
        <div class="feedWrapper">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 42;
                    ">
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #FFF5CC">Columbus</li>
          </ul>
          <h2 class="feedTitle">Kuala Lumpur</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
          <button class="feedButton">Detalies</button>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/304"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 142.9565799753554;
                    ">
            <li class="feedTag" style="background: #CCF8FE">Harare</li>
            <li class="feedTag" style="background: #DAD7FE">Behance</li>
          </ul>
          <h2 class="feedTitle">Bengaluru</h2>
          <p class="feedDesc">When you enter into any new area </p>
        </div>
      </div>
      <div class="feedItem">   
        <div class="feedWrapper">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 42;
                    ">
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #CCF8FE">Harare</li>
            <li class="feedTag" style="background: #FFF5CC">Alexandria</li>
          </ul>
          <h2 class="feedTitle">Memphis</h2>
          <p class="feedDesc">When you enter into any new area of science, you almost always find.</p>
          <button class="feedButton">Detalies</button>
        </div>
      </div>
      <div class="feedItem">   
        <div class="feedWrapper">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 42;
                    ">
            <li class="feedTag" style="background: #E2FBD7">Lost</li>
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
          </ul>
          <h2 class="feedTitle">Memphis</h2>
          <p class="feedDesc">When you enter into any new area </p>
          <button class="feedButton">Detalies</button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/301"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 101.25135181960086;
                    ">
            <li class="feedTag" style="background: #E2FBD7">Lost</li>
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #FFF5CC">Alexandria</li>
            <li class="feedTag" style="background: #DAD7FE">Behance</li>
          </ul>
          <h2 class="feedTitle">Melbourne</h2>
          <p class="feedDesc">When you enter into any new area </p>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/302"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 115.91155262344151;
                    ">
            <li class="feedTag" style="background: #E2FBD7">Lost</li>
          </ul>
          <h2 class="feedTitle">Memphis</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/303"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 101.43109601001365;
                    ">
            <li class="feedTag" style="background: #E2FBD7">Lost</li>
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #FFF5CC">Columbus</li>
            <li class="feedTag" style="background: #FFF5CC">Alexandria</li>
          </ul>
          <h2 class="feedTitle">Melbourne</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/304"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 116.91115284967725;
                    ">
            <li class="feedTag" style="background: #E2FBD7">Lost</li>
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #CCF8FE">Dogs</li>
          </ul>
          <h2 class="feedTitle">Kuala Lumpur</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
        </div>
      </div>
      <div class="feedItem">   
        <div class="feedWrapper">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 42;
                    ">
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #FFF5CC">Columbus</li>
            <li class="feedTag" style="background: #CCF8FE">Harare</li>
          </ul>
          <h2 class="feedTitle">Memphis</h2>
          <p class="feedDesc">When you enter into any new area of science, you almost always find.</p>
          <button class="feedButton">Detalies</button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/302"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 157.78780932224427;
                    ">
            <li class="feedTag" style="background: #E2FBD7">Lost</li>
            <li class="feedTag" style="background: #FFF5CC">Columbus</li>
            <li class="feedTag" style="background: #CCF8FE">Harare</li>
            <li class="feedTag" style="background: #CCF8FE">Dogs</li>
          </ul>
          <h2 class="feedTitle">Melbourne</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
        </div>
      </div>
      <div class="feedItem">   
        <div class="feedWrapper">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 42;
                    ">
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #CCF8FE">Harare</li>
            <li class="feedTag" style="background: #CCF8FE">Dogs</li>
          </ul>
          <h2 class="feedTitle">Bengaluru</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
          <button class="feedButton">Detalies</button>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/304"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 146.51040035289552;
                    ">
            <li class="feedTag" style="background: #E2FBD7">Lost</li>
          </ul>
          <h2 class="feedTitle">Kuala Lumpur</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/305"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 114.26819115100251;
                    ">
            <li class="feedTag" style="background: #DAD7FE">Behance</li>
          </ul>
          <h2 class="feedTitle">Melbourne</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/306"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 153.06806477591945;
                    ">
            <li class="feedTag" style="background: #E2FBD7">Lost</li>
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #FFF5CC">Alexandria</li>
          </ul>
          <h2 class="feedTitle">Kuala Lumpur</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/307"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 145.93086246512246;
                    ">
            <li class="feedTag" style="background: #DAD7FE">Behance</li>
            <li class="feedTag" style="background: #CCF8FE">Dogs</li>
          </ul>
          <h2 class="feedTitle">Kathmandu</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
        </div>
      </div>
      <div class="feedItem">   
        <div class="feedWrapper">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 42;
                    ">
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #FFF5CC">Alexandria</li>
            <li class="feedTag" style="background: #CCF8FE">Dogs</li>
          </ul>
          <h2 class="feedTitle">Memphis</h2>
          <p class="feedDesc">When you enter into any new area </p>
          <button class="feedButton">Detalies</button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="feedItem">   
        <div class="feedWrapper">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 42;
                    ">
            <li class="feedTag" style="background: #E2FBD7">Lost</li>
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #CCF8FE">Harare</li>
            <li class="feedTag" style="background: #DAD7FE">Behance</li>
            <li class="feedTag" style="background: #CCF8FE">Dogs</li>
          </ul>
          <h2 class="feedTitle">Kuala Lumpur</h2>
          <p class="feedDesc">When you enter into any new area of science, you almost always find.</p>
          <button class="feedButton">Detalies</button>
        </div>
      </div>
      <div class="feedItem">   
        <div class="feedWrapper">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 42;
                    ">
            <li class="feedTag" style="background: #E2FBD7">Lost</li>
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #FFF5CC">Columbus</li>
            <li class="feedTag" style="background: #DAD7FE">Behance</li>
            <li class="feedTag" style="background: #CCF8FE">Dogs</li>
          </ul>
          <h2 class="feedTitle">Bengaluru</h2>
          <p class="feedDesc">When you enter into any new area of science, you almost always find.</p>
          <button class="feedButton">Detalies</button>
        </div>
      </div>
      <div class="feedItem">   
        <div class="feedWrapper">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 42;
                    ">
            <li class="feedTag" style="background: #DAD7FE">Behance</li>
          </ul>
          <h2 class="feedTitle">Helsinki</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
          <button class="feedButton">Detalies</button>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/306"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 131.31137295193255;
                    ">
            <li class="feedTag" style="background: #FFF5CC">Columbus</li>
            <li class="feedTag" style="background: #CCF8FE">Harare</li>
          </ul>
          <h2 class="feedTitle">Bengaluru</h2>
          <p class="feedDesc">When you enter into any new area </p>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/307"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 119.83392605312949;
                    ">
            <li class="feedTag" style="background: #E2FBD7">Lost</li>
            <li class="feedTag" style="background: #CCF8FE">Harare</li>
          </ul>
          <h2 class="feedTitle">Brisbane</h2>
          <p class="feedDesc">Your business is in a continual battle for your customers’ recognition whether you know it or not.</p>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/308"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 123.27653450099027;
                    ">
            <li class="feedTag" style="background: #FFF5CC">Columbus</li>
          </ul>
          <h2 class="feedTitle">Bengaluru</h2>
          <p class="feedDesc">When you enter into any new area of science, you almost always find.</p>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/309"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 143.25033101484385;
                    ">
            <li class="feedTag" style="background: #DAD7FE">Designer</li>
            <li class="feedTag" style="background: #FFF5CC">Columbus</li>
            <li class="feedTag" style="background: #CCF8FE">Harare</li>
          </ul>
          <h2 class="feedTitle">Brisbane</h2>
          <p class="feedDesc">When you enter into any new area of science, you almost always find.</p>
        </div>
      </div>
      <div class="feedItem">   <img class="feedItemBG" src="https://picsum.photos/200/310"/>
        <div class="feedWrapper hasBackground">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 124.72938065297677;
                    ">
            <li class="feedTag" style="background: #CCF8FE">Harare</li>
            <li class="feedTag" style="background: #DAD7FE">Behance</li>
          </ul>
          <h2 class="feedTitle">Melbourne</h2>
          <p class="feedDesc">When you enter into any new area of science, you almost always find.</p>
        </div>
      </div>
      <div class="feedItem">   
        <div class="feedWrapper">
          <ul class="feedTags" style="
                    --ref-margin-bottom: 42;
                    ">
            <li class="feedTag" style="background: #FFF5CC">Alexandria</li>
          </ul>
          <h2 class="feedTitle">Helsinki</h2>
          <p class="feedDesc">When you enter into any new area of science, you almost always find.</p>
          <button class="feedButton">Detalies</button>
        </div>
      </div>
    </div>
  </div>
</main>
</div>